<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUPABASE_URL</key>
	<string>$(SUPABASE_URL)</string>
	<key>SUPABASE_ANON_KEY</key>
	<string>$(SUPABASE_ANON_KEY)</string>
	<key>SUPERWALL_API_KEY</key>
	<string>$(SUPERWALL_API_KEY)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.807951583828-21uudtqha8oribbekd37j59jfssge0ep</string>
				<string>mochimeter</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>807951583828-21uudtqha8oribbekd37j59jfssge0ep.apps.googleusercontent.com</string>
	<key>UIAppFonts</key>
	<array>
		<string>MochibopBold.ttf</string>
	</array>
	<key>GADApplicationIdentifier</key>
	<string>ca-app-pub-1465033379713828~3513117361</string>
	<key>SKAdNetworkItems</key>
	<array>
		<dict>
			<key>SKAdNetworkIdentifier</key>
			<string>cstr6suwn9.skadnetwork</string>
		</dict>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>MochiMeter needs camera access to scan food and barcodes.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>MochiMeter needs photo library access to analyze food from your saved photos.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>This identifier will be used to deliver personalized ads to you.</string>
</dict>
</plist>
